*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
    text-align: justify
}

div.section{
    margin-bottom: 150px;
}

footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
}

footer a{
    color: #0f548d;
    text-align: right;
    font-size: small;
}

/* Legal notice*/
body.legalNotice{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.legalNotice h1{
    margin: 20px 0 40px 10px;
}

.legalNotice h2{
    margin: 10px 0 20px 20px;
}

.legalNotice p{
    margin: 0 0 40px 50px;
}

.legalNotice footer{
    margin-top: auto;
}

/* css for small screens */
@media only screen and (max-width: 600px){
    .copyright{
        font-size: 14px;
    }
}
